<div class="uk-container" >
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Meu Carrinho</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active">
          <a href="#">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: close"></span>
            Limpar Carrinho
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br>
  <div class="uk-grid-small" uk-grid >
    <div class="uk-width-expand" uk-leader>
      <img src="#" class="uk-align-left" alt="Shampoo" class="uk-align-left">
      <a href="#">Shampoo</a> <br>
      <strong>9 unidade(s)</strong>
    </div>
    <div>
      <br>
      $20.99
      <a class="uk-button uk-button-link uk-align-right" >
        <span class="uk-icon" uk-icon="icon: close"></span>
      </a>
    </div>
  </div>


  <div class="uk-text-right">
    <h3 class="uk-text-right">
      R$ 41,80
    </h3>
    <a href="/checkout" class="uk-button uk-button-large uk-button-primary uk-margin-small-bottom">
      FINALIZAR COMPRA
    </a>
  </div>
</div>

<div class="uk-container" >
  <br>
  <br>
  <br>
  <p class="uk-text-center"><em>Seu carrinho está vazio</em></p>
  <br>
  <br>
  <br>
</div>
